h1{
    color: #0f04ead4;
    border: solid 1px #0f04ead4;
    text-align: center;
    padding: 30px, 30px,30px,30px;
    padding: 5px;
    position: fixed; 
}

.main{
    width: 80px;
    height: 130px;
    background-color: white;
}

.sidelink{
    background-color: #e8faf8;
    padding: 10px,10px,10px,50px;
    line-height: 50px;
    position: fixed;
    width: 170px;
}

h2{
    border-bottom: solid 3px #0000ff;
    background-color: #eeeeff
    top: 140px;
}

.contents{
    padding-left: 190px;
    line-height: 30px;
}

.table th{
    background-color: #def8ff;
}

th{
    background-color: #e6eef0;
}

#squ{
    width: 180px;
    height: 80px;
}

#name1{
    background-color: #abedff;
}

#name2{
    background-color: #78e2ff;
}

#name3{
    background-color: #44d5fc;

}